/* loginstyle.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
  }
  
  .form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
  }
  
  .form input {
    padding-left: 100px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #0056b3;
  }
  button {
    margin-top: 20px;
    padding: 12px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #aaa;
  }